service tftp-ext
{
	socket_type		= dgram
	protocol		= udp
	wait			= yes
	user			= root
	server			= /usr/sbin/in.tftpd
	server_args		= -s /var/lib/tftpboot
	disable			= no
	bind			= {{ ext_tftp_listen }}
	port			= 69
	per_source		= 11
	cps			= 100 2
	flags			= IPv4
}
